@import "../../../assets/scss/variables";

.navigation {
  .navbar {
    background-color: $primary;
    a {
      color: $greyLight;
      font-size: 1.7rem;
      transition: color 100ms ease-in-out;
      &:hover {
        color: lighten($greyLight, 30);
      }
    }
    li {
      margin-left: 10px;
    }
    .navbar-nav {
      flex-direction: row;
    }
  }

}