@import "../../../assets/scss/variables";

.header {
  background-color: $primary;
  .row {
      padding: 2rem 1rem;
      min-height: 40vh;
      max-width: 100%;

      .left-block {
         h1 {
            color: $greyLight;
            font-size: calc(100% + 1vw + 1vh);
            margin-bottom: 40px;
         }
         h4 {
            color: $greyLight;
            font-size: calc(30% + 1vw + 1vh);
         }
      margin-bottom: 25px;
      margin-left: 15px;
      }

      .center-block {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;

            .rounded-circle {
            max-width: 200px;
        }
     }
  }
}