@import "../../../assets/scss/variables";

.fixed-bottom {
  text-align: right;
  position: fixed;
  transition: bottom 0.6s;
  .btn {
    margin: 2vw 2vw;
  }
}

.fixed-bottom--hidden {
  display: none;
}