@import '../../../assets/scss/variables';
@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";


.myContent {
  h2 {
    font-size: calc(100% + 1vw + 1vh);
  }

  .timeline {
    font-size: 2rem;

    .badge-danger, .badge-info, .badge-warning, .badge-success, .badge-dark, .badge-light, .badge-secondary {
      width: auto;
      max-height: 25px;
      font-size: 14px;
    }
  }
  .vertical-timeline-element-icon svg {
    color: black ;
  }

  .icon svg {
    color: $danger;
  }

  .hobbies {
    * {box-sizing: border-box}

    .description {
      width: 100%;
      top: 0; left: 0; right: 0; bottom: 0;
      background: $fontDefault;
      opacity: 0.8;
      color: white;
      font-size: 1rem;
      padding: 20px;
      text-align: center;
    }
  }
}

.timeline {
  overflow-y: hidden;
}