@import '../../../assets/scss/variables';

.myContent {
  h2 {
    font-size: calc(100% + 1vw + 1vh);
  }

  .claimSection {
    font-size: 2rem;

    .badge-danger, .badge-info, .badge-warning, .badge-success, .badge-dark, .badge-light {
      width: auto;
      max-height: 25px;
      font-size: 14px;
    }
  }
  .vertical-timeline-element-icon svg {
    color: $greyLight ;
  }
}