body {
    padding-top: 5rem;
}

.bio {
    position: relative;

    margin: 2vw;
}

.bioContainer {
    padding: 3rem 1.5rem;
    text-align: center;
}

.btn-margin-left {
    margin-left: 25px;
}
.btn-margin-right {
    margin-right: 25px;
}